{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Vehicle Details
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#reset-form").click(
            function (e) {
                $("#vehicle_number").prop("readonly", false);
            }
        )
        $("#delete_button").click(
            function (e) {
                console.log("delete button clicked");
                let vehicle_number = $("#vehicle_number").val();
                let data = new FormData();
                data.append("vehicle_number", vehicle_number);
                data.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                axios.post('delete/', data).then(
                    function (res) {
                        console.log(res.data);
                    }
                ).catch(
                    function (errors) {
                        console.log(errors.data);
                    }
                )
            }
        )
        $("#search_button").click(
            function (e) {
                e.preventDefault();
                let vehicle_number = $("#vehicle_number").val();
                if (vehicle_number === "") {
                    alert("please enter vehicle number");
                } else {
                    let data = new FormData();
                    data.append("vehicle_number", vehicle_number);
                    data.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                    axios.post('search/', data).then(
                        function (res) {
                            console.log(res.data);
                            const response_data = res.data;
                            const vehicle_brand = response_data.brand;
                            const vehicle_model = response_data.model;
                            $("#vehicle_number").prop("readonly", true);
                            $("#update_button").prop("disabled", false);
                            $("#delete_button").prop("disabled", false);
                            $("#vehicle_brand").val(vehicle_brand);
                            $("#vehicle_model").val(vehicle_model);
                        }
                    ).catch(
                        function (errors) {
                            console.log(errors)
                            if (errors.response.status === 404) {
                                alert("no vehicle found against provided vehicle number");
                            }
                        }
                    )
                }
            }
        )
    </script>
{% endblock %}
{% block content %}
    <h1>Vehicle Details</h1>
    <div id="message-div">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>
    <div>
        <form method="post" action="" id="vehicle-add-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="vehicle_number">Vehicle Number</label>
                <input type="text" class="form-control" id="vehicle_number" placeholder="Enter Vehicle Number"
                       name="vehicle_number">
            </div>
            <div class="form-group">
                <label for="vehicle_brand">Brand</label>
                <input type="text" class="form-control" id="vehicle_brand" placeholder="Enter Vehicle Brand"
                       name="vehicle_brand">
            </div>
            <div class="form-group">
                <label for="vehicle_model">Model</label>
                <input type="text" class="form-control" id="vehicle_model" placeholder="Enter Vehicle Model"
                       name="vehicle_model">
            </div>
            <button type="submit" class="btn btn-primary" name="add_button">Add</button>
            <button type="submit" class="btn btn-primary" id="update_button" disabled>Update</button>
            <button type="button" class="btn btn-primary" id="delete_button" disabled>Delete</button>
            <button type="button" class="btn btn-primary" name="search_button" id="search_button">Search</button>
            <button type="reset" class="btn btn-primary" id="reset-form">Reset</button>
        </form>
    </div>


    <div class="my-2">
        {% if not vehicle_details %}
            <button type="submit" class="btn btn-primary" name="add_service_button" disabled>Add Service Details
            </button>
            {% else %}
            {% for vehicle_detail in vehicle_details %}
            <a href="{% url 'add_service' vehicle_detail.vehicle_no %}" class="btn btn-primary" role="button">Add Service Detail</a>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Service ID</th>
                <th scope="col">Type</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for services_detail in services_details %}
                <tr>
                    <td>{{ services_detail.serviceID }}</td>
                    <td>{{ services_detail.type }}</td>
                    <td><a href="{% url 'update_service' services_detail.serviceID %}" class="btn btn-info" role="button">Update</a></td>
                    <td><a href="{% url 'delete_service' services_detail.serviceID %}" class="btn btn-danger" role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}