{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Service Details
{% endblock %}
{% block content %}
    <h1>Add Service Details</h1>
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="service_id">Service ID</label>
            <input type="text" class="form-control" id="service_id" placeholder="Enter Service ID"
                   name="service_id" required>
        </div>
        <div class="form-group">
            <label for="service_type">Service Type</label>
            <input type="text" class="form-control" id="service_type" placeholder="Enter Service Type"
                   name="service_type" required>
        </div>
    <button type="submit" class="btn btn-primary" name="add_service_button">Add Service</button>
    </form>

{% endblock %}